#main .clearfix .main-content .table {
  margin-bottom: 0;
}
#main .clearfix .main-content .table-responsive {
  width: 100%;
}
.alert {
  margin-top: 1rem;
}
#main .clearfix .main-content fieldset {
  width: 72px;
  margin-bottom: 0!important;
  float: left;
}
#main .clearfix .main-content fieldset input,
#main .clearfix .main-content fieldset input:hover,
#main .clearfix .main-content fieldset input:focus,
#main .clearfix .main-content fieldset input:active {
  box-shadow: none;
}
#main .clearfix .main-content .form-control {
  border-radius: 0;
  border-bottom: 1px solid #757575;
  border-left: 1px solid #757575;
  border-right: none;
  border-top: none;
}
#main .clearfix .main-content .firstField {
  background-color: #fff;
}
#main .clearfix .main-content fieldset:nth-of-type(18n) .form-control:disabled {
  border-right: 1px solid #757575;
}
.btn-primary {
  margin-bottom: 15px;
}
#main .clearfix .main-content table tr th {
  width: 72px;
  display: block;
  float: left;
  border: 1px solid #757575;
  border-right: none;
  background-color: #fff;
  color: #343a40;
  border-bottom: none;
}
#main .clearfix .main-content table tr th:nth-of-type(5),
#main .clearfix .main-content table tr th:nth-of-type(9),
#main .clearfix .main-content table tr th:nth-of-type(13),
#main .clearfix .main-content table tr th:nth-of-type(17),
#main .clearfix .main-content table tr th:nth-of-type(18) {
  background-color: #e9ecef;
}
#main .clearfix .main-content table tr th:nth-of-type(18) {
  border-right: 1px solid #757575;
}
/* Chrome, Safari, Edge, Opera */
#main .clearfix .main-content fieldset input::-webkit-outer-spin-button,
#main .clearfix .main-content fieldset input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#main .clearfix .main-content fieldset input[type=number] {
  -moz-appearance: textfield;
}
#main .clearfix .main-content .form-submit {
  width: 78px;
  border: none;
  background-color: #823ff4;
  color: #fff;
  border-radius: 4px;
  margin: 12px 4px 16px 0;
  padding: 5px;
  float: left;
}
/* Bartik css */

#calendar-form .form-item,
#calendar-form .form-actions {
  margin-top: 0;
  margin-bottom: 0;
  width: 70px;
  float: left;
}
#calendar-formtable tr th,
#calendar-form table tr th a,
#calendar-form table tr th a:hover,
#calendar-form table tr th a:focus {
  color: #fff;
  font-weight: bold;
  width: 50px;
  margin-bottom: 0!important;
  float: left;
  display: block;
}
#calendar-form table {
  width: 100%;
  margin: 10px 0 0 0;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 0.857em;
}
#calendar-form input.form-text,
#calendar-form input.form-tel,
#calendar-form input.form-email,
#calendar-form input.form-url,
#calendar-form input.form-search,
#calendar-form input.form-file,
#calendar-form input.form-number,
#calendar-form input.form-color,
#calendar-form textarea.form-textarea {
  color: #3b3b3b;
  border: 1px solid #ccc;
  margin: 0;
}
/* Chrome, Safari, Edge, Opera */
#calendar-form input::-webkit-outer-spin-button,
#calendar-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#calendar-form input[type=number] {
  -moz-appearance: textfield;
}
