.table {
  margin-bottom: 0!important;
}
.alert {
  margin-top: 1rem;
}
fieldset {
  width: 72px;
  margin-bottom: 0!important;
  float: left;
}
fieldset input,
fieldset input:hover,
fieldset input:focus,
fieldset input:active {
  box-shadow: none!important;
}
.form-control {
  border-radius: 0!important;
  border-bottom: 1px solid #757575!important;
  border-left: 1px solid #757575!important;
  border-right: none!important;
  border-top: none!important;
}
fieldset:nth-of-type(1) .form-control:disabled {
  background-color: #fff;
}
fieldset:nth-of-type(18) .form-control:disabled {
  border-right: 1px solid #757575!important;
}
.btn-primary {
  margin-bottom: 15px;
}
table tr th {
  background: #757575;
  background: rgba(0, 0, 0, 0.51);
  width: 72px;
  display: block;
  float: left;
  border: 1px solid #757575;
  border-right: none;
  background-color: #fff!important;
  color: #343a40!important;
}
table tr th:nth-of-type(5),
table tr th:nth-of-type(9),
table tr th:nth-of-type(13),
table tr th:nth-of-type(17),
table tr th:nth-of-type(18) {
  background-color: #e9ecef!important;
}
table tr th:nth-of-type(18) {
  border-right: 1px solid #757575;
}
/* Chrome, Safari, Edge, Opera */
fieldset input::-webkit-outer-spin-button,
fieldset input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
fieldset input[type=number] {
  -moz-appearance: textfield;
}
