h5 {
  padding: 0 15px;
}
.path-nomad,
.path-nomad #page,
.path-nomad #page main,
.path-nomad #main-wrapper,
.path-nomad .region-primary-menu .menu-item a.is-active,
.path-nomad .region-primary-menu .menu-item--active-trail a {
  background: #f1f1f1;
}
.path-nomad #main-wrapper {
  min-height: 82vh;
  height: 100%;
}
.path-nomad #main-wrapper #main .section .accounting_table table {
  margin: 0;
}
.path-nomad #main-wrapper #main .section .accounting_table table thead tr {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 0;
}
.path-nomad #main-wrapper #main .section .accounting_table table thead tr th {
  width: 6%;
  text-align: center;
}
.path-nomad #main-wrapper #main .section .accounting_table fieldset,
.path-nomad #main-wrapper #main .section .accounting_table div {
  margin: 0;
  display: inline-block;
  width: 4.28rem;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  box-sizing: border-box;
}
.path-nomad #main-wrapper #main .section .accounting_table div {
  width: 4.265rem;
}
.path-nomad #main-wrapper #main .section .accounting_table .mb-3 {
  margin-bottom: 0!important;
}
.path-nomad #main-wrapper #main .section .accounting_table fieldset input[type=number],
.path-nomad #main-wrapper #main .section .accounting_table fieldset input::-webkit-outer-spin-button,
.path-nomad #main-wrapper #main .section .accounting_table fieldset input::-webkit-inner-spin-button,
.path-nomad #main-wrapper #main .section .accounting_table div input[type=number],
.path-nomad #main-wrapper #main .section .accounting_table div input::-webkit-outer-spin-button,
.path-nomad #main-wrapper #main .section .accounting_table div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
.path-nomad #page input {
  width: 100%;
  margin: 0;
  padding: 4px 0;
  box-sizing: unset;
  text-align: center;
}
.path-nomad #page .form-file,
.path-nomad #page .button {
  width: fit-content;
}
.form-type-managed-file {
  margin-top: 1rem;
}
.form-textarea-wrapper #edit-feedback {
  max-height: 4.5rem;
}
/*
--------- Buttons
*/
.path-nomad #page .nomad-name-form .form-submit {
  padding: .3rem 1rem;
  color: #fff;
  font-weight: bold;
  margin: 2rem 0 0 0;
  background-image: none;
  background-color: #1d84c3;
  border-color: #1d84c3;
  transition: .6s;
  transition-timing-function: ease-in-out;
}
.path-nomad #page .nomad-name-form .form-submit:hover {
  background-color: #055a8e;
  border-color: #055a8e;
  transition: .6s;
  transition-timing-function: ease-in-out;
}
/*
--------- Regions blocks and elements style
*/
.path-nomad .highlighted {
  padding-top: 1.5rem;
}
.path-nomad .site-footer {
  margin-top: 1.5rem;
}
.path-nomad #main {
  margin-bottom: 0;
}
.path-nomad .dialog-off-canvas-main-canvas #page-wrapper #page #main-wrapper #main main .section {
  padding: 2rem 0;
}
.path-nomad .alert-dismissible .btn-close {
  display: none;
}
